h1 {
  color: white;
  text-align: center;
}

#container {
  /*width:  980px;*/
  margin: 0 auto;
}
#main {
  /*text-align: center;*/
}
#container2 {
  width:  0;
  margin: 0 auto;
}
#main2 {
  /*text-align: center;*/
}
#container3 {
  margin: 0 auto;
}
#main3 {
  /*text-align: center;*/
}

#container4 {
  /*width:  980px;*/
  margin: 0 auto;
}
#main4 {
  /*text-align: center;*/
}
section {
  height: 200px;
  width:  1980px;
  margin: 10px 0;
}

.section--purple {
  background-color: none;
  
}

.section--blue {
  background-color: none;
}

.section--green {
  background-color: none;

}

/*#main {
  text-align: center;
}*/


#more {
  margin: 20px auto 48px;
}
#fadeInDownID{
  margin-top: -60%;
  margin-left: 80%;
}
#pulseId{
  margin-top: -300%;
  margin-left: 81%;
}

#bounceInLeftId{
 margin-right: 02%;
}
#slideInLeftId{
/*margin-right: 100px;*/
}
#slideInRightId{
  margin-top: -10%;
  margin-left: 5%;
}
#fadeInDownID2{
  margin-left: 400px;
}
#pulseId2{
  margin-left: 1400px;
  top:-200px;
}
#fadeInScroll1{
  margin-left: 1400px;
}