@font-face {
	font-family: Brandon Grotesque Bold; 
	/*font-weight: bold; */
	src: url('Brandon_bld.otf');
}
@font-face {
	font-family: Brandon Grotesque Bold; 
	src: url('Brandon_bld_it.otf');
}
@font-face {
	font-family: Brandon Grotesque Black; 
	font-weight:italic;
	src: url('Brandon_bld_it.otf');
}
@font-face {
	font-family: Brandon Grotesque Black; 
	font-weight:italic;
	src: url('Brandon_blk_it.otf');
}
@font-face {
	font-family: Brandon Grotesque Light; 
	src: url('Brandon_light.otf');
}
@font-face {
	font-family: Brandon Grotesque Medium; 
	src: url('Brandon_med.otf');
}
@font-face {
	font-family: Brandon Grotesque Medium; 
	font-weight:italic;
	src: url('Brandon_med_it.otf');
}
@font-face {
	font-family: Brandon Grotesque Regular; 
		src: url('Brandon_reg.otf');
}
@font-face {
	font-family: Brandon Grotesque Regular; 
	font-weight:italic;
	src: url('Brandon_reg_it.otf');
}
@font-face {
	font-family: Brandon Grotesque Thin; 
	src: url('Brandon_thin.otf');
}
@font-face {
	font-family: Brandon Grotesque Thin; 
	font-weight:italic;
	src: url('Brandon_thin_it.otf');
}