body { 
  background: #161616;
}

#spaceship1Div {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  /*top: 410%;*/
  margin-left: -150px;
  margin-top: -150px;
  transform: rotate(60deg);
}

#spaceship {
  position: inherit;
  left: 50%;
  margin-left: -90px;
  height: 180px;
  width: 130px;
  background: #BE2E6B;
  border-radius: 100px 100px 20px 20px;
}

#window {
  position: inherit;
  margin-top: 35px;
  margin-left: 35px;
  height: 40px;
  width: 40px;
  background: #BE2E6B;
  border-radius: 50%;
  border: 10px solid #562449;
  animation: window 3s infinite linear;
}

#tail {
  top: 50%;
  left: 50%;
  margin-left: -106px;
  margin-top: 40px;
  position: inherit;
  height: 0;
  width: 120px;
  border-bottom: 30px solid #BE2E6B;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  padding: 0 2px 0 0;
}

#left-wing {
  top: 50%;
  left: 50%;
  margin-left: 48px;
  margin-top: -60px;
  position: inherit;
  height: 0;
  width: 20px;
  border-bottom: 60px solid #BE2E6B;
  border-left: 0px solid transparent;
  border-right: 30px solid transparent;
  padding: 0 2px 0 0;
  animation: from-to 3s infinite linear;
}

#right-wing {
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -60px;
  position: inherit;
  height: 0;
  width: 20px;
  border-bottom: 60px solid #BE2E6B;
  border-left: 30px solid transparent;
  border-right: 0px solid transparent;
  padding: 0 2px 0 0;
  animation: to-from 3s infinite linear;
}

#exhaust {
  left: 50%;
  top: 50%;
  margin-left: -62px;
  margin-top: 40px;
  position: inherit;
  background: #BE2E6B;
  width: 70px;
  height: 70px;
  border-radius: 50px 10px 50px 50px;
  transform: rotate(135deg);
}

#tail {
  left: 50%;
  top: 50%;
  margin-left: -62px;
  margin-top: 80px;
  position: inherit;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 200px 34px 0 34px;
  border-color: #BE2E6B transparent transparent transparent;
  animation: burn .1s infinite linear;
}

@keyframes burn {
  0% {
    border-width: 200px 34px 0 34px;
  }
  25% {
    border-width: 100px 34px 0 34px;
  }
  50% {
    border-width: 250px 34px 0 34px;
  }
  75% {
    border-width: 150px 34px 0 34px;
  }
  100% {
    border-width: 200px 34px 0 34px;
  }
}

@keyframes from-to {
  0% {
    margin-left: 38px;
    width: 20px;
    border-bottom: 60px solid #BE2E6B;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
  }
  50% {
    margin-left: 48px;
    width: 10px;
    border-bottom: 60px solid #BE2E6B;
    border-left: 0px solid transparent;
    border-right: 15px solid transparent;
  }
  100% {
    margin-left: 38px;
    width: 20px;
    border-bottom: 60px solid #BE2E6B;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
  }
}

@keyframes to-from {
  0% {
    margin-left: -125px;
    width: 10px;
    border-bottom: 60px solid #BE2E6B;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
  }
  50% {
    margin-left: -140px;
    width: 20px;
    border-bottom: 60px solid #BE2E6B;
    border-left: 30px solid transparent;
    border-right: 0px solid transparent;
  }
  100% {
    margin-left: -125px;
    width: 10px;
    border-bottom: 60px solid #BE2E6B;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
  }
}

@keyframes window {
  0% {
    margin-left: 25px;
  }
  50% {
    margin-left: 45px;
  }
  100% {
    margin-left: 25px;
  }
}